In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import sys
import os

In [17]:
def getRSD(testPredY, testY, num):
    """
    Calculate the R and SD between predicated values and experimental values
    """

    lm = LinearRegression()
    lm.fit(testPredY, testY)
    testR = lm.score(testPredY, testY)**0.5
    testSD = np.sqrt(np.sum((lm.predict(testPredY) - testY)**2)/(num -1))
    cmd = "Test  R: %.3f, SD: %.2f"%(testR, testSD)
    print(cmd)
    return str(testR), str(testSD)

In [49]:
exp = pd.read_csv("CoreSet.dat",skiprows = 5, header = None, sep = "  ")[[1,2]]
exp.reset_index(inplace = True)
exp.columns = ["#code","year","pKd"]
exp.head()

/Users/jianinglu1/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

  #code  year   pKd
0  1ps3  2003  2.28
1  3d4z  2008  4.89
2  3ejr  2009  8.57
3  2qmj  2008  4.21
4  3l4w  2010  6.00

In [50]:
score = pd.read_csv("../../../../script/Frag_model_development/Model_result/model_test_Vina_10_SASA_12_Ion_Nonumber_frags_crydrydecoypart_Crydry_C_RMSD1_0.5_hold_out_None_rm1g2k/CASF-2013_Scoring_score_C.csv", sep = " ")
score.head()

  #code      score
0  3bkk -10.600134
1  3f3c  -8.086510
2  2d3u  -9.064479
3  2qbr  -7.903765
4  1a30  -5.853579

In [51]:
data = pd.merge(exp, score, on = "#code")

In [54]:
R, SD = getRSD(data[["score"]], data[["pKd"]], 195)

Test  R: 0.718, SD: 1.57